@font-face {
    font-family: charterRegular;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charterBold;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charterItalic;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}


@font-face {
    font-family: charterBoldItalic;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --gray30: #424242;
    --gray20: #212429;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    color: var(--gray10);
}

header a {
    /* --gray10: red; */
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
}
h1 {
    font-size: 60px;
    /* margin: 64px 10px 16px 10px; */
    margin: 64px 0 16px;  
}

main {
    border: 1px solid blue;
}

.wrapper {
    width: 902px;
    margin: auto;
}
.main-content {
    background: white;
}

/* h1 ~ p { */
/*     margin-bottom: 64px; */
/* } */

hr {
    margin: 64px 0;
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    width: 200px;
    padding: 20px;
    border: 1px solid red;
    box-sizing: border-box;
}

pre {
    background: #FEC62E;
    padding:  40px;
    font-family: 'Roboto';
    line-height: 24px;
}


.hero {
    height: 350px;
    background-image: linear-gradient(to top, rgba(255,255,255,.3), transparent), url('../images/pattern.png');
    /* background: url('../images/pattern.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: left 20px bottom -20px; */
    /* background-size: cover; */
}

blockquote {
    margin: 32px 0;
    font-size:24px ;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
    /* border: 10px solid red; */
    /* border-top-color: blue; */
    /* border-top-style: dashed; */
    /* border-radius: 50px 100px 10px 1px; */
}

blockquote span {
    color: var(--gray10);
}

blockquote span::before {
    content: '-';
}

.section-content {
    margin-top: 164px;
}

.section-content:first-of-type{
    margin: 0;
}
.section-content ol li {
    line-height: 24px;
}
.section-content ul li {
   margin-bottom: 16px; 
}
.section-content + hr {
    display: none;
}
.section-content img {
    margin-top: 40px;
}
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 4px;
}
.section-content h3::before {
    content: counter(titleList, decimal)". ";
}

.section-content h3::after {
    display: block;
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
}

/* ::selection { */
/*     background: red; */
/* } */
